#header_index_admin
{
width:100%;
margin:0%;
height:60px;
background-color:#ffffff;

}
ul#menu
 {
 padding: 0px;
 position: relative;
 margin: 10;
 }

 ul#menu li
 {
 display: inline;
 }

 ul#menu li a 
 {
 background-color: #01DFD7;
 padding: 10px 20px;
 text-decoration: none;
 line-height: 0.4em;
 color:  #070719;
 border-radius: 4px 4px 0 0;
 }

 ul#menu li a:hover
 {
 background-color:#BDBDBD;
 color:#ffffff;
 } 